.cardHome {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  width: 20rem;
}

.card-title {
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.card-p {
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}
