.homeContainer {
  height: 100vh;
}

.flexCard {
  display: flex;
  flex-direction: column;
}

.homeButton {
  width: 15rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: white;
  color: rgb(112, 112, 112);
  margin-top: 1rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 768px) {
  .flexCard {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media (min-width: 1024px) {
  .flexCard {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
