.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(190deg, #5e8b94 40%, rgb(190 212 111) 60%);
}
.login-container {
  background: #fff;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 3%;
  box-shadow: rgba(1, 1, 0.24, 0.24) 0px 3px 8px;
}
.login-container {
  width: 270px;
}
input {
  color: gray;
  display: flex;
  border: none;
  margin: 20px 0;
  background-color: #fff;
  border-bottom: 2px solid #5e8b94;
  padding: 1px;
  width: 15rem;
}
input:focus {
  outline-width: 0;
}
.styled-img {
  justify-content: center;
  width: 200px;
}
.login-img {
  text-align: center;
}
.login-button {
  justify-content: center;
  display: flex;
  border-color: white;
}
.loginButton {
  width: 50%;
  justify-content: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: #5e8b94;
  padding: 10px;
  margin: 20px;
  display: flex;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.6s ease;
}
.loginButton:hover {
  width: 55%;
  background-color: rgb(190 212 111);
  color: #fff;
}
.login-form {
  justify-content: center;
}
