.create-account {
  background-color: #5e8b94;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 0.5rem;
}

button {
  margin: 1rem;
  background: #1183ca;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

label {
  color: #fff;
}

.create-account input {
  width: 15rem;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
