* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.pointer {
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(190deg, #5e8b94 40%, rgb(190 212 111) 60%); 
}

.margin {
  margin-bottom: 1rem;
}

.m-1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
